.navigation-link {
  color: $color-white;
  text-decoration: none;
  font-weight: 900;
  font-size: 56px;
}


.link {
  color: $color-white;
  text-decoration: none;
  font-size: 56px;
  cursor: pointer;
  font-weight: 900;
}



.link-black{
  color: $color-black;
  text-decoration: none;
  font-size: 56px;
  cursor: pointer;
  font-weight: 900;
}

.link-black {
  color: black;
  opacity: 100;
  margin-left: 0px;
  transition: margin-left 0.2s ease;
  font-weight: 900;
}

.link-black:hover {
  margin-left: 12px;
  letter-spacing: 10px;
  transition: all 0.2s ease;
  font-weight: 900;
}