header{
  height: $navigtionHeight;
  position: sticky;
  z-index: 999;
  border-bottom:  1px solid #000;
}

.breadCrumb{
  font-size: 28px;
  cursor: pointer;
  margin-left: $bu;
}

.mainNavigation{
  height: $navigtionHeight;
  display: flex;
  justify-content: flex-end;
  padding-right: calc($bu);
  align-items: center;
}

.projectNavigation{
  height: $navigtionHeight;
  border-top:  1px solid $color-black;
  background-color: $color-black;
  display: flex;
  align-items: center;
  padding: calc(2*$bu);
}

.header-wrapper{
  height: $navigtionHeight;
  overflow: hidden;
}

.navigation {
  background-color: $color-black;
  height: calc(100vh - $navigtionHeight - $footerHeight);
  width: 100%;
  position: absolute;
  
  clip-path: polygon(0 0, 100% 0,100% 100%,0 100%);

}

.navigation-list {
  margin: 0 0;
  list-style: none;
  margin-top: 12px; 
  margin-left: 24px;
  padding-left: 0;
}

.navigation-list-item {
  color: $color-white;
}



.navigation-link {
  opacity: 100;
  margin-left: 0px;
  transition: margin-left 0.2s ease;
}

.navigation-link:hover {
  margin-left: 12px;
  letter-spacing: 10px;
  transition: all 0.2s ease;
}

.header-main-enter-active,
.header-main-leave-active {
  transition: all 0.5s ease;
}

.header-main-enter-from,
.header-main-leave-to {
  margin-top: -96px;
}


.fade-enter-active{
  animation: bounce-in 0.5s linear;
}
.fade-leave-active {
  animation: bounce-out 0.5s 0.4s linear;
}

.fade-enter-from{
  animation: bounce-in 0.5s linear;
}

.fade-leave-to {
  animation: bounce-out 0.5s 0.4s linear;
}


@keyframes bounce-in {
  0% {
    clip-path: polygon(0 0, 100% 0,100% 0%,0 0%);
  }
  50% {
    clip-path: polygon(0 0, 100% 0,100% 100%,0 50%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0,100% 100%,0 100%);
  }
}

@keyframes bounce-out {
  0% {
    clip-path: polygon(0 0, 100% 0,100% 100%,0 100%);
    
  }
  50% {
    clip-path: polygon(0 0, 100% 0,100% 100%,0 50%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0,100% 0%,0 0%);
  }
}


.fade-enter-active .navigation-link,
.fade-leave-active .navigation-link {
  transition: all 0.5s ease;
  
}

.fade-enter-from .navigation-link.navigation-clicked,
.fade-leave-to .navigation-link.navigation-clicked {
  transition-delay: 0.6s !important;
  margin-left: 100px;
  letter-spacing: 50px;
  opacity: 0;
  
}

.fade-enter-from .navigation-link{
  margin-left: 100px;
  letter-spacing: 50px;
  opacity: 0;
}
.fade-leave-to .navigation-link {

  opacity: 0;
  
  
  
}